@mixin fluid-text($max: 48, $min: 16)  {
    font-size: clamp(#{$min}px, #{$max / 1440 * 100}vw, #{$max}px);
}

@mixin fonts($font-family, $font-weigth, $line-hight, $letter-spasing) {
    font-family: $font-family;
    font-weight: $font-weigth;
    line-height: $line-hight;
    letter-spacing: $letter-spasing;
}